<main>

  <div class="container">

    <form>
      <div class="mb-3">

        <label for="username" class="form-label">Username</label>
        <input
          class="form-control"
          name="username"
          type="text"
          placeholder="username"
          aria-label="default input example"
        />
      </div>
      <div class="mb-3">

        <label for="password" class="form-label">Password</label>
        <input
          class="form-control"
          name="password"
          type="password"
          placeholder="password"
          aria-label="default input example"
        />
      </div>
    </form>
  </div>
</main>